<?xml version="1.0"?>
<robot name="umi_gripper">
  <material name="mirror">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="gray">
    <color rgba="0.15 0.15 0.15 1"/>
  </material>
  <material name="light_gray">
    <color rgba="0.6 0.6 0.6 1"/>
  </material>
  <material name="orange">
    <color rgba="0.92 0.68 0.24 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <link name="world">
  </link>
  <link name="body1">
    <visual name="linear_guide_rail">
      <origin xyz="0 -0.002 0.062" rpy="0 0 0"/>
      <geometry>
        <box size="0.16 0.006 0.008"/>
      </geometry>
      <material name="light_gray"/>
    </visual>
    <visual name="left_mirror">
      <origin xyz="-0.069 -0.057 0.04" rpy="0 1.1901519891862662 0"/>
      <geometry>
        <box size="0.06 0.0374 0.0002"/>
      </geometry>
      <material name="mirror"/>
    </visual>
    <visual name="right_mirror">
      <origin xyz="0.069 -0.057 0.04" rpy="0 -1.1901519891862662 0"/>
      <geometry>
        <box size="0.06 0.0374 0.0002"/>
      </geometry>
      <material name="mirror"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="meshes/base_link.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual name="left_center_base_screw">
      <origin xyz="-0.076 -0.018 0.036" rpy="-1.5707963267948968 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="right_center_base_screw">
      <origin xyz="0.076 -0.018 0.036" rpy="-1.5707963267948968 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="left_back_base_screw">
      <origin xyz="-0.0137 -0.018 -0.018" rpy="-1.5707963267948968 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="right_back_base_screw">
      <origin xyz="0.0137 -0.018 -0.018" rpy="-1.5707963267948968 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.01965 -0.07875 -0.0187" rpy="-1.5707963267948968 0 3.141592653589793"/>
      <geometry>
        <mesh filename="meshes/gopro.stl"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/base_link.stl"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.01965 -0.07875 -0.0187" rpy="-1.5707963267948968 0 3.141592653589793"/>
      <geometry>
        <mesh filename="meshes/gopro.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="body1_dof1">
  </link>
  <link name="body1_dof2">
  </link>
  <link name="body1_dof3">
  </link>
  <link name="body1_dof4">
  </link>
  <link name="body1_dof5">
  </link>
  <link name="left_finger_holder">
    <inertial>
      <origin xyz="-0.0613355 0.104073 -0.0013157" rpy="-1.1769009428563746 -1.3849810823943285 2.651450192417947"/>
      <mass value="0.080081"/>
      <inertia ixx="0.000104597" ixy="0" ixz="0" iyy="0.000102992" iyz="0" izz="0.0000190532"/>
    </inertial>
    <visual name="left_screw_back_outside">
      <origin xyz="-0.0515 0.07 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="left_screw_back_inside">
      <origin xyz="-0.0615 0.07 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="left_screw_middle_outside">
      <origin xyz="-0.0768 0.0835 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="left_screw_middle_inside">
      <origin xyz="-0.047 0.0835 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="left_screw_front">
      <origin xyz="-0.0764 0.119 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="left_rail_block">
      <origin xyz="-0.051 0.063 0.006" rpy="0 0 0"/>
      <geometry>
        <box size="0.018 0.024 0.008"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <visual name="left_marker">
      <origin xyz="-0.062 0.088 0.0164" rpy="0 0 0"/>
      <geometry>
        <box size="0.018 0.018 0.00002"/>
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="meshes/left_finger_holder.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin xyz="-0.041722 0.0779 -0.0159" rpy="-1.5707963267948968 0 3.141592653589793"/>
      <geometry>
        <mesh filename="meshes/left_finger.stl"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/left_finger_holder.stl"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.041722 0.0779 -0.0159" rpy="-1.5707963267948968 0 3.141592653589793"/>
      <geometry>
        <mesh filename="meshes/left_finger.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="right_finger_holder">
    <inertial>
      <origin xyz="0.0613353 0.104073 -0.00131574" rpy="1.1769464976769313 -1.384964732758037 0.4901050283343764"/>
      <mass value="0.080081"/>
      <inertia ixx="0.000104597" ixy="0" ixz="0" iyy="0.000102992" iyz="0" izz="0.0000190532"/>
    </inertial>
    <visual name="right_screw_back_outside">
      <origin xyz="0.0515 0.07 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="right_screw_back_inside">
      <origin xyz="0.0615 0.07 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="right_screw_middle_outside">
      <origin xyz="0.0764 0.0835 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="right_screw_middle_inside">
      <origin xyz="0.047 0.0835 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="right_screw_front">
      <origin xyz="0.0764 0.119 0.012" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0035" length="0.007"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual name="right_rail_block">
      <origin xyz="0.051 0.063 0.006" rpy="0 0 0"/>
      <geometry>
        <box size="0.018 0.024 0.008"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <visual name="right_marker">
      <origin xyz="0.062 0.088 0.0164" rpy="0 0 0"/>
      <geometry>
        <box size="0.018 0.018 0.00002"/>
      </geometry>
    </visual>
    <visual>
      <geometry>
        <mesh filename="meshes/right_finger_holder.stl"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin xyz="0.041722 0.0779 0.0099" rpy="1.5707963267948968 0 0"/>
      <geometry>
        <mesh filename="meshes/right_finger.stl"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/right_finger_holder.stl"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.041722 0.0779 0.0099" rpy="1.5707963267948968 0 0"/>
      <geometry>
        <mesh filename="meshes/right_finger.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="gripper_joint_x" type="prismatic">
    <origin xyz="0 0 0.11" rpy="-1.5707963267948968 0 0"/>
    <parent link="world"/>
    <child link="body1_dof1"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.2" upper="1.2" effort="0" velocity="0"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>
  <joint name="gripper_joint_y" type="prismatic">
    <parent link="body1_dof1"/>
    <child link="body1_dof2"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.2" upper="1.2" effort="0" velocity="0"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>
  <joint name="gripper_joint_z" type="prismatic">
    <parent link="body1_dof2"/>
    <child link="body1_dof3"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-1.2" upper="1.2" effort="0" velocity="0"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>
  <joint name="gripper_joint_rx" type="revolute">
    <parent link="body1_dof3"/>
    <child link="body1_dof4"/>
    <axis xyz="1 0 0"/>
    <limit lower="-31.415" upper="31.415" effort="0" velocity="0"/>
    <dynamics damping="10.1" friction="0.1"/>
  </joint>
  <joint name="gripper_joint_ry" type="revolute">
    <parent link="body1_dof4"/>
    <child link="body1_dof5"/>
    <axis xyz="0 0 1"/>
    <limit lower="-31.415" upper="31.415" effort="0" velocity="0"/>
    <dynamics damping="10.1" friction="0.1"/>
  </joint>
  <joint name="gripper_joint_rz" type="revolute">
    <parent link="body1_dof5"/>
    <child link="body1"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-31.415" upper="31.415" effort="0" velocity="0"/>
    <dynamics damping="10.1" friction="0.1"/>
  </joint>
  <joint name="left_finger_joint" type="prismatic">
    <origin xyz="0 0 0" rpy="1.5707963267948968 0 0"/>
    <parent link="body1"/>
    <child link="left_finger_holder"/>
    <axis xyz="1 0 0"/>
    <limit lower="0" upper="0.05" effort="0" velocity="0"/>
    <dynamics damping="10.1" friction="0.1"/>
  </joint>
  <joint name="right_finger_joint" type="prismatic">
    <origin xyz="0 0 0" rpy="1.5707963267948968 0 0"/>
    <parent link="body1"/>
    <child link="right_finger_holder"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.05" effort="0" velocity="0"/>
    <dynamics damping="10.1" friction="0.1"/>
  </joint>
</robot>
